.select-input{
    cursor: pointer;
    width: 40%;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    font-weight: 700;
    color: #151515;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.select-input .arrow-icon{
    font-size: 30px;
    transition: transform 0.5s ease;
}
.select-input .arrow-icon-rotate{
    transform: rotate(-180deg);
}
.select-input .select-list{
    width: 100%;
    border-radius: 5px;
    position: absolute;
    top: 120%;
    left: 0px;
    overflow: hidden;
}
.select-input .select-list-close{
    border: 0px solid #aaa;
    max-height: 0px;
    transition: border 0.2s linear,max-height 0.2s linear;
}
.select-input .select-list-open{
    border: 1px solid #aaa;
    max-height: 420px;
    transition: border 0.2s linear,max-height 0.2s linear;
}
.select-list .option{
    font-size: 22px;
    font-weight: 500;
    padding: 0px 15px;
    transition: background-color 0.5s ease;
}
.select-list .option:hover{
    background-color: #eee;
}